body {
    background-color: chocolate;
    background-image: url(bcg1.jpg);
    background-size: cover;
}
.otak1 {
    background-color: black;
}
.nav2 {
    display: flex;
    color: white;
   text-align: center;
   padding-left: 550px;
    
}
.poto-menu {
    
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: space-between;
    padding-top: 20px;

}
.poto-menu2 {
    padding: 40px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 80px;

}